body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pole {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sq {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
}

.sq_active {
    background-color: green;
    cursor: pointer;
}